/* styles.css */

body {
    font-family: sans-serif;
    background-color: #bb1b1b;
    }
    .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #c19f9f;
    }